.contOut.clearfix
  .contIn
    .section.top.clearfix
      .logoCont
        img.logo(src="https://avatars.githubusercontent.com/u/48360111?v=4")
      h1 Dan Edens
      .moreInfo
        p
          //- button#cmd Generate PDF
          br
          | Fall River, MA 02720
          br
          | DanEdens31@gmail.com
          br
          | (469) 636.7704
          br
          a(href="https://github.com/DanEdens/Resume", target="_blank") View this document on Github
      p.tagline
        | Back-end Developer
        br
        | Project Manager
        br
        span Web &amp; Software
    .divider
.contOut.clearfix
  .contIn
    .section.middle.clearfix
      .job
        h2
          |  Geo Instruments - Project Coordinator
          i.fa.fa-minus.openBtn.open
          span 06/2018 - Present
        p
          strong Position: 
          |
          | Project Coordinator
          br
          strong Description: 
          |  Geotechnical Instrumentation and Automation specialist
          br
          span.brag
            | Opperated an Office Remotely in Little Elm,Tx for 3.5 years 
          br
          span.brag
            | Responsible for managing projects consisting of: 
            br
            | Data collection, Web development, Risk mitigation, and Compliance Documentation
          br
          span.brag
            | Worked with Apps department to develop website's for delivering sensor data to the client.
    .divider
.contOut.clearfix
  .contIn
    .section.middle.clearfix
      .job
        h2
          | Chili's Grill and Bar - Lead Prep Cook
          i.fa.fa-plus.openBtn
          span 01/2016 - 06/2018
        p
          strong Position:
          |
          | Lead Prep Cook
          br
          strong Description:
          |
          | Lead Prep team, Maintained Show-ready kitchen for Chili's Test location in Castle Hills, TX
          br
          span.brag
            | Took Key part in Franchise showcases and assisted during Marketing events such as filming TV commercials.
          br
          span.brag
            | Worked with Corporate to help Field test new Products and Improve upon standards.
          br
          span.brag
            | Devolped a Hands-Free Recipe Application for Kitchen Tablet.
          br
          span.brag
            | Devolped Mobile Application for collecting Cooling log Data and scheduling Oven timers.
          br
          span.brag
            | Devolped Mobile Application for collecting Data on the accuracy of Daily On-hand Food Quantities, Resulting in Improved Daily build Efficiency.
      .divider
.contOut.clearfix
  .contIn
    .section.middle.clearfix
      .job
        h2
          | Chili's Grill and Bar - Prep Cook
          i.fa.fa-plus.openBtn
          span 06/2014 - 09/2015
        p
          strong Position: 
          | Prep Cook
          br
          strong Description: 
          | Prep cook team member at the Chili's in Ormond Beach, Fl
          br
          span.brag
            | Preparing and Stocking the day’s ingredients for each Station
          br
          span.brag
            | Excelled delivering Precision and Efficiency according to Recipe Specifications
          br
          span.brag
            | Maintained Knowledge of all Kitchen Health and Safety Rules 
    .divider
.contOut.clearfix
  .contIn
    .section.middle.clearfix
      .job
        h2
          | AMEC Earth & Environmental - Laboratory Technician
          i.fa.fa-plus.openBtn
          span 08/2013 - 04/2014
        p
          strong Position:
          | Laboratory Technician
          br
          strong Description:
          | Performed laboratory testing on concrete and soil samples
          br
          span.brag
            | Collected data and maintained reports for tests on Concrete samples
          span.brag
            | Managed Sample Storage, Test Scheduling, and Limestone environment maintence
    .divider
.contOut.clearfix
  .contIn
    .contracts.clearfix
      h3 Monitoring Portfolio
      .contract
        h4 MSE Wall Repair
        a(
            href="https://www.geo-instruments.com/mse-wall-repair/",
            target="_blank"
          ) Project Spotlight
        p.desc
          | - I oversaw Settlement Monitoring during repair of a collapsed MSE wall in Fort Worth, TX
          br
          | - Settlement was monitored using Tiltmeters and Automated Total Stations during the wall's repair.
          br
          | - Devoloped website's for delivering data to Client
          //- br
        span.date 2021
      .contract
        h4 MSE Wall Repair
        a(
            href="https://www.geo-instruments.com/mse-wall-repair/",
            target="_blank"
          ) Project Spotlight
        p.desc
          | - I oversaw Settlement Monitoring during repair of a collapsed MSE wall in Fort Worth, TX
          br
          | - Settlement was monitored using Tiltmeters and Automated Total Stations during the wall's repair.
          br
          | - Devoloped website's for delivering data to Client
          //- br
        span.date 2021
      .contract
        h4 MSE Wall Repair
        a(
            href="https://www.geo-instruments.com/mse-wall-repair/",
            target="_blank"
          ) Project Spotlight
        p.desc
          | - I oversaw Settlement Monitoring during repair of a collapsed MSE wall in Fort Worth, TX
          br
          | - Settlement was monitored using Tiltmeters and Automated Total Stations during the wall's repair.
          br
          | - Devoloped website's for delivering data to Client
          //- br
        span.date 2021
      .contract
        h4 MSE Wall Repair
        a(
            href="https://www.geo-instruments.com/mse-wall-repair/",
            target="_blank"
          ) Project Spotlight
        p.desc
          | - I oversaw Settlement Monitoring during repair of a collapsed MSE wall in Fort Worth, TX
          br
          | - Settlement was monitored using Tiltmeters and Automated Total Stations during the wall's repair.
          br
          | - Devoloped website's for delivering data to Client
          //- br
        span.date 2021
      .contract
        h4 MSE Wall Repair
        a(
            href="https://www.geo-instruments.com/mse-wall-repair/",
            target="_blank"
          ) Project Spotlight
        p.desc
          | - I oversaw Settlement Monitoring during repair of a collapsed MSE wall in Fort Worth, TX
          br
          | - Settlement was monitored using Tiltmeters and Automated Total Stations during the wall's repair.
          br
          | - Devoloped website's for delivering data to Client
          //- br
        span.date 2021
      .contract
        h4 MSE Wall Repair
        a(
            href="https://www.geo-instruments.com/mse-wall-repair/",
            target="_blank"
          ) Project Spotlight
        p.desc
          | - I oversaw Settlement Monitoring during repair of a collapsed MSE wall in Fort Worth, TX
          br
          | - Settlement was monitored using Tiltmeters and Automated Total Stations during the wall's repair.
          br
          | - Devoloped website's for delivering data to Client
          //- br
        span.date 2021
      .contract
        h4 MSE Wall Repair
        a(
            href="https://www.geo-instruments.com/mse-wall-repair/",
            target="_blank"
          ) Project Spotlight
        p.desc
          | - I oversaw Settlement Monitoring during repair of a collapsed MSE wall in Fort Worth, TX
          br
          | - Settlement was monitored using Tiltmeters and Automated Total Stations during the wall's repair.
          br
          | - Devoloped website's for delivering data to Client
          //- br
        span.date 2021
      .contract
        h4 MSE Wall Repair
        a(
            href="https://www.geo-instruments.com/mse-wall-repair/",
            target="_blank"
          ) Project Spotlight
        p.desc
          | - I oversaw Settlement Monitoring during repair of a collapsed MSE wall in Fort Worth, TX
          br
          | - Settlement was monitored using Tiltmeters and Automated Total Stations during the wall's repair.
          br
          | - Devoloped website's for delivering data to Client
          //- br
        span.date 2021
      .contract
        h4 MSE Wall Repair
        a(
            href="https://www.geo-instruments.com/mse-wall-repair/",
            target="_blank"
          ) Project Spotlight
        p.desc
          | - I oversaw Settlement Monitoring during repair of a collapsed MSE wall in Fort Worth, TX
          br
          | - Settlement was monitored using Tiltmeters and Automated Total Stations during the wall's repair.
          br
          | - Devoloped website's for delivering data to Client
          //- br
        span.date 2021


.contOut.clearfix.half
  .contIn
    .section.middle.clearfix
      ul.buttons
        li
          a(href="https://www.geo-instruments.com/", target="_blank") Geo-Instruments.com
        li
          a(
            href="https://taskernet.com/?user=AS35m8mBhJAezDTr0Lio7dopdLiBaKgozAOxoCXM7Mh8sS5hSvSst1kEMf5%2FJeJveB%2BsvU8%3D",
            target="_blank"
          ) My Taskernet Projects
            .divider
//- https://docs.microsoft.com/en-us/users/danedens/

ul.sm
  li
    a(href="https://codepen.io/danedens/pen/ZExrjqV")
      i.fa.fa-codepen
  li
    a(href="https://github.com/DanEdens/Resume")
      i.fa.fa-github
  li
    a(href="https://www.facebook.com/danedens2/")
      i.fa.fa-facebook
  li
    a(href="https://www.linkedin.com/in/danedens/")
      i.fa.fa-linkedin
